header .song_side .popular_artists {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 0.93rem;
    margin-bottom: 2.18rem;
}

header .song_side .popular_artists .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_artists .h4 .bi {
    color: var(--gray-100);
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_artists .h4 .bi:hover {
    color: var(--white);
}

header .song_side .popular_artists .item {
    width: 100%;
    height: auto;
    margin-top: 0.625rem;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

header .song_side .popular_artists .item::-webkit-scrollbar {
    display: none;
}


header .song_side .popular_artists .item li {
    list-style-type: none;
    position: relative;
    min-width: 3.75rem;
    height: 3.75rem;
    background: var(--white);
    border-radius: 50%;
    margin-right: 1.25rem;
    cursor: pointer;
}

header .song_side .popular_artists .item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    border: none;
}